/* Birinci elementin mətn rəngi */
li:first-child {
    color: teal;
}

/* İkinci elementin mətn rəngi */
li:nth-child(2) {
    color: red;
}

/* Sonuncu elementin mətn rəngi */
li:last-child {
    color: green;
}

/* Hover zamanı mətn rəngi */
li:hover {
    color: purple;
}

h1 {
    color: blue;
}

.description {
    font-style: italic;
}

.blue {
    color: blue;
}

h2 {
    color: blue;
}

.models p {
    margin: 5px 0;
}
